.root {
    -fx-background-image: url(../images/background.jpg);
}

.button {
    -fx-background-color:
            #0242c7,
            linear-gradient(#34618a 0%, #007fab 20%, #00416c 100%),
            linear-gradient(#167179, #007d7e),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button: hover {
    -fx-background-color: rgb(6, 211, 82);
    -fx-text-background-color: red;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight:bold;
    -fx-text-fill: #054d55;
    /*-fx-effect: dropshadow( gaussian , rgba(214, 66, 20, 0.5), 0,0,0,1 );*/
}

.table-row-cell:selected {
    -fx-background-color:#d69a9a ;
}

.table-row-cell:selected .text {
    -fx-fill: #ffffff;
}

.table-row-cell .text {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #61676c;
    -fx-text-fill: #FFFFFF;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}